In [1]:
import csv

with open(file='try.csv', mode='r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Name', 'Address', 'Age ']
['Ram', ' Biratnagar', ' 22']
['Shyam', ' Itahari', ' 34']
['Hari', ' Dharan', ' 27 ']

In [5]:
import csv

with open(file='try.csv', mode='r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row)

{'Name': 'Ram', 'Address': ' Biratnagar', 'Age ': ' 22'}
{'Name': 'Shyam', 'Address': ' Itahari', 'Age ': ' 34'}
{'Name': 'Hari', 'Address': ' Dharan', 'Age ': ' 27 '}

In [4]:
import csv

data = [
    ['Name', 'Address', 'Age '],
    ['Ram', ' Biratnagar', ' 22'],
    ['Shyam', ' Itahari', ' 34'],
    ['Hari', ' Dharan', ' 27 ']
]

with open(file="newnew.csv", mode='w',newline="") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [8]:
import csv

data = [
{'Name': 'Ram', 'Address': ' Biratnagar', 'Age ': ' 22'},
{'Name': 'Shyam', 'Address': ' Itahari', 'Age ': ' 34'},
{'Name': 'Hari', 'Address': ' Dharan', 'Age ': ' 27 '}
]

with open(file='newnewnew.csv',mode='w',newline='') as f:
    writer = csv.DictWriter(f, fieldnames=["Name","Address","Age "])
    writer.writeheader()
    writer.writerows(data)

In [10]:
import pandas as pd

df = pd.read_csv("newnewnew.csv")

print(df)
print(type(df))

    Name      Address  Age
0    Ram   Biratnagar    22
1  Shyam      Itahari    34
2   Hari       Dharan    27
<class 'pandas.core.frame.DataFrame'>

In [11]:
df["Name"]

0      Ram
1    Shyam
2     Hari
Name: Name, dtype: object

In [12]:
# Display the info of DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Address  3 non-null      object
 2   Age      3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [13]:
#View the data from head
df.head()

    Name      Address  Age
0    Ram   Biratnagar    22
1  Shyam      Itahari    34
2   Hari       Dharan    27

In [ ]:
#view the data from tail
df.tail(2) #argument to print number of data

    Name   Address  Age
1  Shyam   Itahari    34
2   Hari    Dharan    27

In [19]:
# View the random sample
df.sample()

   Name  Address  Age
2  Hari   Dharan    27

In [21]:
# Check for the missing values
df.isnull().sum()

Name       0
Address    0
Age        0
dtype: int64

In [22]:
df['Province'] = "Koshi"

In [23]:
print(df)

    Name      Address  Age  Province
0    Ram   Biratnagar    22    Koshi
1  Shyam      Itahari    34    Koshi
2   Hari       Dharan    27    Koshi

In [26]:
# Write csv
df.to_csv("neww.csv", index=False)

In [27]:
import pandas as pd

dataframe = pd.DataFrame([
    {"Roll": 1, "Name": "Ram", "Eng": 80,"Math":81,"Science":82},
    {"Roll": 2, "Name": "Shyam", "Eng": 79,"Math":80,"Science":83}
])

dataframe.to_csv("Marksheet.csv",index=False)

In [28]:
dataframe['Total'] = dataframe['Eng']+ dataframe['Math']+dataframe['Science']
print(dataframe)

   Roll   Name  Eng  Math  Science  Total
0     1    Ram   80    81       82    243
1     2  Shyam   79    80       83    242

In [30]:
dataframe['Percentage'] = (dataframe['Total']/3).round(decimals=3)
print(dataframe)

   Roll   Name  Eng  Math  Science  Total  Percentage
0     1    Ram   80    81       82    243      81.000
1     2  Shyam   79    80       83    242      80.667

In [34]:
import json
import pprint

with open("data.json", mode='r') as f:
    data = json.load(f)
    
pprint.pprint(data)

{'Name': 'BOdo', 'skills': ['C++', 'Python']}

In [35]:
import json

data = {
    "name": "bobly",
    "age": 30,
    "Skills": ["py","ML"]
}

with open("data.json", mode='w') as f:
    json.dump(data,f, indent=4)

In [ ]:
# Objective: Read an Excel file, process the data, and write the results to a new Excel file.
#instructions:
you are provided with an Excel students.xsml