In [2]:
import sqlite3
#connect to the database
conn = sqlite3.connect("mydb.db")
cursor = conn.cursor()

In [3]:
cursor.execute("""
        CREATE TABLE IF NOT EXISTS students (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            address TEXT
        )
""")

In [4]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Ram', 25, "Biratnagar"))

conn.commit()

In [5]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Radheshyam', 25, "Itahari"))

conn.commit()

In [6]:
cursor.execute('INSERT INTO students (name, age, address) VALUES (?, ?, ?)', ('Shyam', 18, "Itahari"))

conn.commit()

In [7]:
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ram', 25, 'Biratnagar')
(2, 'Ram', 25, 'Biratnagar')
(3, 'Radheshyam', 18, 'Itahari')
(4, 'Shyam', 18, 'Itahari')
(5, 'Ram', 25, 'Biratnagar')
(6, 'Radheshyam', 25, 'Itahari')
(7, 'Shyam', 18, 'Itahari')
(8, 'Ram', 25, 'Biratnagar')
(9, 'Radheshyam', 25, 'Itahari')
(10, 'Shyam', 18, 'Itahari')
(11, 'Ram', 25, 'Biratnagar')
(12, 'Radheshyam', 25, 'Itahari')
(13, 'Shyam', 18, 'Itahari')

In [8]:
cursor.execute('SELECT * from students WHERE address="Itahari"')
rows = cursor.fetchall()
for row in rows:
    print(row)

(3, 'Radheshyam', 18, 'Itahari')
(4, 'Shyam', 18, 'Itahari')
(6, 'Radheshyam', 25, 'Itahari')
(7, 'Shyam', 18, 'Itahari')
(9, 'Radheshyam', 25, 'Itahari')
(10, 'Shyam', 18, 'Itahari')
(12, 'Radheshyam', 25, 'Itahari')
(13, 'Shyam', 18, 'Itahari')

In [9]:
cursor.execute('SELECT * from students WHERE name LIKE "R%"')
rows = cursor.fetchall()
for row in rows:
    print(row)
    
# R% fetches the starting with r
# %R fetches the ending with r

(1, 'Ram', 25, 'Biratnagar')
(2, 'Ram', 25, 'Biratnagar')
(3, 'Radheshyam', 18, 'Itahari')
(5, 'Ram', 25, 'Biratnagar')
(6, 'Radheshyam', 25, 'Itahari')
(8, 'Ram', 25, 'Biratnagar')
(9, 'Radheshyam', 25, 'Itahari')
(11, 'Ram', 25, 'Biratnagar')
(12, 'Radheshyam', 25, 'Itahari')

In [10]:
%pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\amrit\appdata\local\programs\python\python314\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\amrit\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\amrit\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///anotherdb.db', echo=True)

In [16]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Student(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key = True)
    name = Column(String)
    age = Column(Integer)
    address = Column(String)
    
#create table
Base.metadata.create_all(engine)

2025-12-31 13:19:31,663 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 13:19:31,665 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2025-12-31 13:19:31,666 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-12-31 13:19:31,668 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\amrit\AppData\Local\Temp\ipykernel_4840\2137669573.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [17]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [21]:
student1 = Student(name="Ram", age=25, address="Itahari")
student2 = Student(name="Shyam", age=25, address="Mahendranagar")
student3 = Student(name="Hari", age=25, address="Biratnagar")
session.add(student1)
session.add(student2)
session.add(student3)
session.commit()

2025-12-31 13:22:43,723 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:22:43,725 INFO sqlalchemy.engine.Engine [cached since 78.85s ago (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Ram', 25, 'Itahari')
2025-12-31 13:22:43,727 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:22:43,728 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Shyam', 25, 'Mahendranagar')
2025-12-31 13:22:43,729 INFO sqlalchemy.engine.Engine INSERT INTO students (name, age, address) VALUES (?, ?, ?) RETURNING id
2025-12-31 13:22:43,730 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Hari', 25, 'Biratnagar')
2025-12-31 13:22:43,732 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
data = session.query(Student).all()
for row in data:
    print(row.id, row.name, row.age, row.address)

2025-12-31 13:22:47,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-31 13:22:47,294 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.address AS students_address
FROM students
2025-12-31 13:22:47,295 INFO sqlalchemy.engine.Engine [cached since 27.95s ago] ()
1 Ram 25 Itahari
2 Shyam 25 Itahari
3 Hari 25 Itahari
4 Ram 25 Itahari
5 Shyam 25 Itahari
6 Hari 25 Itahari
7 Ram 25 Itahari
8 Shyam 25 Mahendranagar
9 Hari 25 Biratnagar

In [23]:
data = session.query(Student).filter_by(address='Itahari')
for row in data:
    print(row.id, row.name, row.age, row.address)

2025-12-31 13:24:03,754 INFO sqlalchemy.engine.Engine SELECT students.id AS students_id, students.name AS students_name, students.age AS students_age, students.address AS students_address
FROM students
WHERE students.address = ?
2025-12-31 13:24:03,755 INFO sqlalchemy.engine.Engine [generated in 0.00130s] ('Itahari',)
1 Ram 25 Itahari
2 Shyam 25 Itahari
3 Hari 25 Itahari
4 Ram 25 Itahari
5 Shyam 25 Itahari
6 Hari 25 Itahari
7 Ram 25 Itahari

In [ ]:
#Create a table for books with fields: title, author, year.
#insert 3 books and query by name

In [1]:
%pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.5-cp314-cp314-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Using cached dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp314-cp314-win_amd64.whl (1.0 MB)
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   ---------- ----------------------------- 0.3/1.0 MB ? eta -:--:--
   -------------------- ------------------- 0.5/1.0 MB 188.7 kB/s eta 0:00:03
   -------------------- ------------------- 0.5/1.0 MB 188.7 kB/s eta 0:00:03
   -------------------- ------------------- 0.5/1.0 MB 188.7 kB/s eta 0:00:03
   ------------------------------ --------- 0.8/1.0 MB 255.2 kB/s eta 0:00:01
   ------------------------------ --------- 0.8/1.0 MB 255.2 kB/s eta 0:00:01
   ------------------------------ --------- 0.8/1.0 MB 255.2 kB/s eta 0:00:01
   ------------------------------ --------- 0.8/1.0 MB 255.2 kB/s eta 0:00:01
   ------------------------------ --------- 0.8/1.0 MB 255.2 kB/s eta 0:00:01
   ---------------------------------------- 1.0/1.0 MB 253.5 kB/s  0:00:04
Using cached dnspython-2.8.0-py3-none-any.whl (331 kB)
Installing collected packages: dnspython, pymongo

   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   ---------------------------------------- 0/2 [dnspython]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   -------------------- ------------------- 1/2 [pymongo]
   ---------------------------------------- 2/2 [pymongo]

Successfully installed dnspython-2.8.0 pymongo-4.15.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
#connecting to mongoDB
from pymongo import MongoClient

client = MongoClient("mongodb+srv://awenass:awenass@cluster0.ltvsihj.mongodb.net/?appName=Cluster0")
db = client["school"]
collection = db["students"]